<!DOCTYPE html>
{% load static %}
<html>
<head>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
     <h1><center>
             <table border="0" ><th><a href="/">Moscow State University of Education<br>
        <center>Database</center></a></th><th><p><div style="margin-left:100px;"><img src="http://www.wiki.vladimir.i-edu.ru/images/7/7d/%D0%9C%D0%9F%D0%93%D0%A3.png"></div></p></th></tr></table>
     </center></h1>
         </h1>
        </div></div>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/lab.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&subset=latin.cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
    <div>

        <div class="content container">
        <div class="row">
            <div class="col-mid-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">